@import "tailwindcss";

@theme {
    --animate-wiggle: wiggle .2s ease-out 1;

    @keyframes wiggle {

        0% {
            transform: translateX(100%);
            opacity: 0.5;
        }
        95%{
            transform: translateX(-5%);
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
}

body{
    overflow-x: hidden;
}